#page2{
    margin:45px;
    justify-content:space-between;
}

.ninja{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;
    margin-top: 100px;
}

.aboutimg{
    width:35vw;
}

#country{
    width: 35vw;
    display:flex;
    justify-content: space-around;
}

.country{
    width:10vw;  
    height: 30%;
}

#ninjawarrior{
    /* margin-left: 10px; */
    font-size: 20px;
   
}

.title{
    text-decoration: underline #c02126;
    font-family:'Stalinist One', cursive;
    font-size: 25px;
    /* margin-left: 10px; */
    font-size: 30px;
   
}

#words{
    margin-left: 20px;
    width: 50vw;
}

#words2{
    margin-right: 20px;
    width: 50vw;
}