#page2{
    margin:45px;
    justify-content:space-between;
}



.ninja{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 150px;
    margin-top: 150px;
}

.aboutimg{
    width:35vw;
 
}
.aboutimg2{
    width:35vw;
 border: solid 3px #c02126;
}

#country{
    width: 35vw;
    display:flex;
    justify-content: space-around;
}
#country2{
    width: 35vw;
    display:flex;
    justify-content: space-between;
}

.country{
    width:10vw;  
    height: 20vh;
    margin-top: 10px;
}
.country2{
    width:10vw;  
    height: 20vh;
    margin-top: 10px;
    border:  #c02126 3px solid;
}

#ninjawarrior{
    /* margin-left: 10px; */
    font-size: 20px;
   
}

.title{
    text-decoration: underline #c02126;
    font-family:'Stalinist One', cursive;
    font-size: 25px;
    /* margin-left: 10px; */
    font-size: 30px;
   
}

#words{
    margin-left: 20px;
    width: 50vw;
}

#words2{
    margin-right: 20px;
    width: 50vw;
}

#certs{
    display: flex;
    justify-content: space-around;
     margin-bottom: 150px;
    margin-top: 150px;
}

.certs{
    border: #c02126 3px solid;
    height: 50vh;
}