
@media screen and (max-width: 1130px) {
	#map {
		height: 80vh;
		width: 67.5rem;
		border: #C02126 solid 5px;
		border-radius: 5px;
		margin-bottom: 20px;
		margin-top: 20px;
		max-width: 80%;
	}
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#map {
	height: 80vh;
	width: 67.5rem;
	border: #C02126 solid 5px;
	border-radius: 5px;
	margin-bottom: 20px;
	margin-top: 20px;
	max-width: 80%;
	z-index: 1;
}

.please{
    font-family: 'Stalinist One', cursive;
    font-size: 20px;
}
#form {
	margin: 20px;
	text-indent: right;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
    text-align: center;
}
#apply-form {
	height: 500px;
    display: flex
}
.input {
	margin-top: 10px;
	margin-bottom: 10px;
}
#apply {
	color: white;
	font-family: 'Stalinist One', cursive;
	background-color: #C02126
}
#location {
	font-family: 'Stalinist One', cursive;
	text-decoration: underline;
	font-size: 25px;
}
.label {
	font-size: 15px;
    font-family: 'Stalinist One', cursive;
}
.text{
    margin-top:20px;
}

.text1, .text-paragraph{
    font-family: 'Stalinist One', cursive;
    font-size: 20px;
    text-align: center;
}