@media screen and (max-width: 480px){
    #nav-link{
    display:flex;
     flex-direction: column;
     position: absolute;
     width: 50%;
     height: 100vh;
     background-color: #c02126;
     right: 0%;
     top: 90px;
    }
}
@media screen and (max-width: 644px){
    #header{
        display:none;
    }

}


@media screen and (max-width: 1130px){
    #header{
    background-color: #c02126;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 38px;

    }
    #nav-link{
        display:none !important;
    }
    #menu{
        display:inline !important;
    }
    .menu{
     width:25px;
     height: 3px;
     background-color:#EDEDED;
     margin: 5px;
     display:none;
    }
    
    #map {
    height: 80vh;
    width: 67.5rem;
    border: #C02126 solid 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    max-width:80%;
    }
  

}



/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#map {
    height: 80vh;
    width: 67.5rem;
    border: #C02126 solid 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    max-width:80%;
    /* height:auto; */
    /* test */
   
}

#form{
    margin:20px;
    text-indent: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  space-between;
    height: 50vh;
    margin-bottom: 20px;
}
#apply-form{
    height: 70vh;
}
.input{
    margin-top: 10px;
    margin-bottom:10px;
}
#apply{
    color: white;
    font-family:'Stalinist One', cursive;
    background-color: #C02126
}

#location{
      font-family:'Stalinist One', cursive;
      text-decoration: underline;
      font-size: 25px;
}

.label{
    font-size: 20px;
}