#map {
    height: 80vh;
    border: #C02126 solid 5px;
    border-radius: 5px;
    /* border-bottom: #C02126 solid 9px; */
  margin-bottom: 20px;
    margin-top: 20px;
    margin-left:45px;
    margin-right:45px;
}

#form{
    margin:20px;
    text-align: center;
    text-indent: right;
    height: 50vh;
}
