body{
    background-color: #EDEDED !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.header{
    background-color: #c02126;
    margin-top: 20px;
    margin-bottom: 20px;
    /* padding: 10px; */
    height: 68px;
    display: flex;
    align-items: center;
}

#border{
    border-top: 3px solid #EDEDED;
    border-bottom: 3px solid #EDEDED;
    height: 50px;
    width: 100vw;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-link{
    display:flex;
    font-family:'Stalinist One', cursive
}
.nav-link{
    color: #EDEDED;

}

#header{
    font-family:'Stalinist One', cursive;
    color:#EDEDED;
    padding-top:5px;

}

#logo{
    display:flex;
    align-items: center;
}

#logopicture{
    
    height:100px;
    width: 100px;
    margin-right:15px;
    
}

#carousel{
    border: #C02126 solid 5px;
    border-radius: 5px;
    /* border-bottom: #C02126 solid 9px; */
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left:45px;
    margin-right:45px;
}

.d-block{
    height:75vh;
}
#alvinspace{
  margin-bottom:150px;
    margin-top:150px;
}
#alvin-picture{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:black;
    margin-top: 20px;

}
#alvin-desc{
    /* margin:15px; */
    width: 50vw;
   
}
#picture {
    border: #C02126 5px solid;
    border-radius: 5px;
    width:35vw;
}

#alvin{
    text-decoration: underline #c02126;
    font-family:'Stalinist One', cursive;
    font-size: 20px;
    text-align: center;
}

#competition{
    text-decoration: underline #c02126;
    font-family:'Stalinist One', cursive;
    font-size: 20px;
}


#contactborder{
   border-top:4px solid #EDEDED;
   border-bottom:4px solid #EDEDED; 
   width: 100vw;
}
.contact{
   
    background-color: #c02126;
    font-family:'Stalinist One', cursive;
    color: #EDEDED;
    height: 200px;
    text-align: center;
    display:flex;
    align-items: center;


}
#social-media{
    /* display:flex; */
    justify-content: space-around;
    background-color: #c02126;
}


#instagram{
    height: 3%;
    width: 3%;
    border: #EDEDED 2px solid;
    border-radius: 15px;

}

#facebook{
    height: 3%;
    width: 3%;
    margin: 10px;
    border: #EDEDED 2px solid;
    border-radius: 3px;
}

#copyright{
    font-size: 11px;
    font-family: none;
}