body{
    background-color: #161616 !important;
}
.header{
    display: flex;
    justify-content: space-around;
    border: 1px solid #C02126;
    background-color: #c02126;
    margin-bottom: 10px;
    padding: 10px;
}

.nav-link{
    color: white;
    font-family:'Stalinist One', cursive;

}

#header{
    font-family:'Stalinist One', cursive;
    color: white;
}

#carousel{
    margin-bottom: 20px;
    margin-left:10px;
    margin-right:10px;
}

.d-block{
    height:75vh;
}

#alvin-picture{
    display: flex;
    justify-content: space-around;
    margin:20px;
}

.contact{
     background-color: #c02126;
     font-family:'Stalinist One', cursive;
    color: white;
    justify-content: space-around;
    height: 200px;
    text-align: center;

}
#social-media{
    /* display:flex; */
    justify-content: space-around;
    background-color: #c02126;
}


#instagram{
    height: 5%;
    width: 5%;
    margin: 10px;
    margin-left: 5px;

}

#facebook{
    height: 7%;
    width: 7%;
    margin: 10px
}